@model ConsolidatedPlatformForRecruitmentAgencies.Models.Education

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2 class="text-center">Add Academic Information</h2>

<br />
@using (Html.BeginForm("AddEducation", "Educations", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div>
        <h3 class="text-warning">@ViewBag.CheckInfo</h3>
    </div>
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.QualificationId, "Qualification", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("QualificationId", (IEnumerable<SelectListItem>)ViewBag.QualificationId, htmlAttributes: new { @class = "form-control" })
            <label>@ViewBag.Qualification</label>
            @Html.ValidationMessageFor(model => model.QualificationId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UniversityId, "University", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UniversityId", (IEnumerable<SelectListItem>)ViewBag.UniversityId , htmlAttributes: new { @class = "form-control" })
            <label>@ViewBag.University</label>
            @Html.ValidationMessageFor(model => model.UniversityId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GradeId, "Grade", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GradeId", (IEnumerable<SelectListItem>)ViewBag.GradeId, htmlAttributes: new { @class = "form-control" })
            <label>@ViewBag.GradeE</label>
            @Html.ValidationMessageFor(model => model.GradeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourseId, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CourseId", (IEnumerable<SelectListItem>)ViewBag.CourseId, htmlAttributes: new { @class = "form-control" })
            <label>@ViewBag.CourseExist</label>
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AboutYou, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.AboutYou, 4, 138, new { htmlAttributes = new { @class = "form-control" } })

            @Html.ValidationMessageFor(model => model.AboutYou, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Degree</label>
        <div class="col-md-10">
            <input type="file" name="filedegree" />
        </div>
    </div>
    <div class="form-group">
        <label>Nysc</label>
        <div class="col-md-10">
            <input type="file" name="filenysc" />
        </div>
    </div>
    <div class="form-group">
        <label>Resume</label>
        <div class="col-md-10">
            <input type="file" name="fileresume" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GraduationYearId, "GraduationYear", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GraduationYearId", (IEnumerable<SelectListItem>)ViewBag.GraduationYearId, htmlAttributes: new { @class = "form-control" })
            <label>@ViewBag.GraduationYearExist</label>
            @Html.ValidationMessageFor(model => model.GraduationYearId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<a href="#" class="au-btn au-btn--block au-btn m-b-20" style="text-align:center;background-color:gray">Add Education</a>*@
            <input type="submit" value="Add Education" class="au-btn au-btn--block au-btn m-b-20" style="text-align:center;background-color:gray" />
        </div>
    </div>
</div>
}

