@model IEnumerable<ConsolidatedPlatformForRecruitmentAgencies.Models.Job>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Search</h2>


<table class="table table-bordered table-striped">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade.GradeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory.JobCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification.QualificationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade.GradeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCategory.JobCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification.QualificationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}
    
</table>

<script>

</script>
